<div class="container py-3">
  <h1 class="text-h1 mb-4">Products</h1>

  <div class="row g-3">
    @for (product of products; track product.id) {
    <div class="col-12 col-sm-6 col-md-4">
      <mat-card class="product-card h-100">
        <img mat-card-image [src]="product.thumbnail" [alt]="product.title" />

        <mat-card-content>
          <h3 class="text-h3">{{ product.title }}</h3>
          <p class="text-body-sm">{{ product.description }}</p>
          <p class="price">₹{{ product.price }}</p>
        </mat-card-content>

        <mat-card-actions class="card-actions">
          <button mat-stroked-button color="primary" class="action-btn">
            <mat-icon>shopping_cart</mat-icon>
            <span>Add to Cart</span>
          </button>

          <button mat-raised-button color="primary" class="action-btn">
            <mat-icon>bolt</mat-icon>
            <span>Buy Now</span>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    }
  </div>
</div>
