/* You can add global styles to this file, and also import other style files */
html {
  color-scheme: var(--color-scheme);
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px; /* baseline */
}
/* html,
body {
  height: 100%;
  margin: 0;
} */

/* Main layout */
.mobile-viewport {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  width: 100%;
  overflow: hidden;
}

/* App bar must NOT grow */
app-app-bar {
  flex: 0;
}

/* Router content fills remaining space */
.router-content {
  flex: 1;
  min-height: 0; /* 🔥 REQUIRED */
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 16px;
}

/* reset  */
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* root cause and it's fix of overlay issue of mat side nav  */
.mat-drawer-container {
  /* issue because of z-index 1 */
  /* z-index: 1; */
  z-index: 10001 !important;
}
